/* Global Styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* Navigation */
  nav {
    background: #0082e6;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 30px;
    padding-right: 20px;
  }
  
  nav ul {
    margin-right: 20px;
  }
  
  #name {
    line-height: 70px;
    padding-left: 20px;
    color: aliceblue;
  }
  
  nav ul li a {
    color: aliceblue;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
  }
  
  a.active,
  a:hover {
    background: #1b9bff;
    transition: .5s;
  }
  
  /* Page Content */
  #message {
    line-height: 70px;
    padding: 50px 0px 0px 50px;
    color: rgb(60, 72, 81);
  }
  
  #intro {
    color: rgb(60, 72, 81);
    max-width: 50%;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  
  #button {
    background-color: crimson;
    color: white;
    padding: 6px;
    border-radius: 3px;
    margin-left: 25%;
    margin-top: -100px;
    cursor: pointer;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0082e6;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 200px;
  }
  
  .description {
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    right: 45%;
    z-index: 1;
    width: 800px;
    padding-right: 100px;
    margin-top: 30px;
  }
  
  #resume {
    text-align: center;
    padding: 25px;
    line-height: 70px;
    padding: 50px 0px 0px 50px;
    color: rgb(60, 72, 81);
  }
  
  #project {
    text-align: center;
    padding: 25px;
    color: rgb(60, 72, 81);
  }
  
  #projectintro {
    text-align: center;
    color: rgb(60, 72, 81);
  }
  
  .projectdiv {
    height: 300px;
    width: 30%;
    padding: 5px;
    display: inline-block;
    opacity: 0;
    background-color: blue;
    border: 5px solid black;
    margin: 5px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
  }
  
  #pic {
    float: right;
    margin-right: 300px;
  }
  
  #profilepic {
    height: 300px;
    border-radius: 200px;
    margin-left: 70%;
    display: inline-block;
  }
  
  #resumepic {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 30%;
  }
  
  #projectdiv1 {
    background-image: url("https://i.imgur.com/Ms71a5r.png");
    background-size: 100% auto;
    margin-right: -35px;
    margin-bottom: -15px;
  }
  
  #projectdiv2 {
    background-image: url("https://i.imgur.com/UFs9YKr.png");
    background-size: cover;
    margin-bottom: -15px;
  }
  
  #projectdiv3 {
    background-image: url("https://i.imgur.com/tscElVp.png");
    background-size: cover;
    margin-left: -10px;
    margin-bottom: -15px;
  }
  
  #projectdiv4 {
    background-image: url("https://i.imgur.com/LGjBduK.jpg");
    background-size: cover;
    margin-right: -35px;
    margin-top: -35px;
  }
  
  #projectdiv5 {
    background-image: url("https://i.imgur.com/3fp7q32.jpg");
    background-size: cover;
  }
  
  #projectdiv6 {
    background-image: url("https://i.imgur.com/XTGc9D0.jpg");
    background-size: cover;
    margin-left: -10px;
  }
  
  #links {
    color: rgb(60, 72, 81);
    text-align: center;
    padding: 25px;
  }
  
  .contactDiv {
    float: right;
    text-align: center;
    margin-right: 250px;
    margin-top: 120px;
    max-width: 500px;
    max-height: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .contactDiv input,
  .contactDiv textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contactDiv textarea {
    height: 150px;
    resize: vertical;
  }
  
  .contactDiv input[type="submit"] {
    background-color: #0082e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contactDiv input[type="submit"]:hover {
    background-color: #1b9bff;
  }
  
  .contactDiv button.submit {
    background-color: #0082e6;
    color: white;
    cursor: pointer;
    height: 25px;
  }
  
  .contactDiv button.submit:hover {
    background-color: #0082e6;
  }
  
  #buttonContainer {
    margin-left: 1170px;
    margin-top: 300px;
  }
  
  #linkedin {
    padding: 5px;
    margin: 5px;
  }
  
  #github {
    padding: 5px;
    margin: 5px;
  }
  
  #contactPic {
    max-width: 700px;
    margin-left: 0%;
    margin-top: 20px;
  }
  
  .submit {
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .bigdiv {
    margin-left: 50px;
  }
  
  #contactMessage {
    color: rgb(60, 72, 81);
    text-align: center;
    padding: 25px;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  