*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 

body{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background: #0082e6;
    height: 70px;
    width: 100%;
    padding: 0 20px; /* Added padding to the nav container */
    display: flex; /* Use flexbox to align the items */
    align-items: center; /* Vertically center the items */
    justify-content: space-between; /* Create space between the title and list */
}

nav ul li{
    display: inline-block;
    line-height: 30px; /* Adjust the line height as needed */
    padding-right: 20px;
}

nav ul{
    margin-right: 20px;
}

#name{
    line-height: 70px; /* Adjust the line height as needed */
    padding-left: 20px;
    color: aliceblue;
}

nav ul li a{
    color: aliceblue;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

ul{
    /* position: fixed; */
    /* width: 100%; */
    /* background: #2c3e50; */
}

#message{
    line-height: 70px; /* Adjust the line height as needed */
    padding: 50px 0px 0px 50px;
    color: rgb(60, 72, 81);
}

#intro{
    color: rgb(60, 72, 81);
    max-width: 50%;

}

#button{
    background-color: crimson;
    color:white;
    padding: 6px;
    border-radius: 3px;
    margin-left: 15%;
    margin-top: -100px;
    cursor: pointer;
}

#resume{
    text-align: center;
    padding: 25px;
    line-height: 70px; /* Adjust the line height as needed */
    padding: 50px 0px 0px 50px;
    color: rgb(60, 72, 81);
}

#project{
    text-align: center;
    padding: 25px;
    color: rgb(60, 72, 81);
}

#projectintro{
    text-align: center;
    color: rgb(60, 72, 81);
}

.projectdiv{
    height: 300px;
    width: 30%;
    padding: 25px;
    display: inline-block;
    opacity: 0;
    background-color: blue;
    border: 1px solid black;
    margin: 5px;
    margin-left: 30px;
    margin-top: 20px;
    background-image:url("https://i.imgur.com/wMds5Jx.jpg");
}



#profilepic{
    height: 300px;
    border-radius: 200px;
    margin-left: 70%;
    display: inline-block;
    
}

#resumepic{
    align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-left: 30%;
}

#projectdiv1{
    background-image: url("https://i.imgur.com/Ms71a5r.png");
    background-size:100% auto
}
#projectdiv2{
    background-image: url("https://i.imgur.com/UFs9YKr.png");
    background-size:cover
}

#projectdiv3{
    background-image: url("https://i.imgur.com/tscElVp.png");
    background-size:cover
}

#pic{

}